<div class="row col-12">
  <div class="col-12 col-md-6">
    <div class="about-project">
      <h2>Gamers Den</h1>
      <h6>Single Project</h5>
      <p> As a collector of video games, I wanted to create a place where I could keep track of my collection.
        <br>
        When browsing games at my local thrift stores, I found myself often in the situation where I wasn't sure if I own a game or not. Therefore, I decided to create
        an application, where I could store the games I own, wishlist new games that I want to buy, and check which games I haven't played yet. On top of that I added some social
        functions, such as adding reviews and rating games, which can be seen by all users. </p>
    </div>
    <div class="buttons-align-2">
      <div class="link-button-disabled d-flex flex-column justify-content-center align-items-center">
        <div class="d-flex justify-content-center align-items-center">
          <i class="fa-solid fa-globe"></i><span>Visit</span>
          <%= link_to "", "#", target: '_blank', class: 'button-disabled' %>
        </div>
      </div>
      <div class="link-button d-flex flex-column justify-content-center align-items-center">
        <div class="d-flex justify-content-center align-items-center">
          <i class="fa-brands fa-github-alt"></i><span>GitHub</span>
          <%= link_to "", "https://github.com/Alfonsdefromage/gamers_den", target: '_blank', class: 'button-social-link' %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <%= image_tag "GamersDen.png", alt: "kollab logo" %>
  </div>
</col-12>
</div>
