<div class="row col-12">
  <div class="col-12 col-md-6">
    <div class="about-project">
      <h2>Kollab (airbnb clone)</h1>
      <h6>Role: Lead Developer</h5>
      <p> This was a one week group project where we had to build an airbnb clone.
        <br>
        My team decided to simulate a place where space owners - from Cafés which have an empty wall to share up to professional galleries - could rent out their spaces to artists.
        We came to the conclusion that, as an beginning artist without connections it's difficult to display art. Therefore the idea was born to create a space to encourage upcoming talents. </p>
    </div>
    <div class="buttons-align-2">
      <div class="link-button d-flex flex-column justify-content-center align-items-center">
        <div class="d-flex justify-content-center align-items-center">
          <i class="fa-solid fa-globe"></i><span>Visit</span>
          <%= link_to "", "https://kollabart-5a9192f4e8a9.herokuapp.com/", target: '_blank', class: 'button-social-link' %>
        </div>
      </div>
      <div class="link-button d-flex flex-column justify-content-center align-items-center">
        <div class="d-flex justify-content-center align-items-center">
          <i class="fa-brands fa-github-alt"></i><span>GitHub</span>
          <%= link_to "", "https://github.com/Alfonsdefromage/kollab_art_gallery", target: '_blank', class: 'button-social-link' %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <%= image_tag "kollab.png", alt: "kollab logo" %>
  </div>
</col-12>
</div>
