<div class="headder">
  <div class="container">
    <div class="headder-items">
      <div class="col-6 d-flex justify-content-end">
        <%= image_tag "Igor.JPG", alt: "Mugshot", class:"img-fluid" %>
      </div>
      <div class="col-6">
        <div class="headder-description">
          <h1>Igor Zapala</h1>
          <p><strong>I'm a fullstack developer, based in Tokyo since 2018.</strong></h2>
          <p>Ruby || Rails || JavaScript || HTML || CSS/SCSS</p>
        </div>
      </div>
    </div>
  </div>
</div>
