<div class="headder">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-3 col-md-3">
        <%= image_tag "Igor.JPG", alt: "Mugshot" %>
      </div>
      <div class="col-9 col-md-3">
        <div class="headder-description">
          <h1>Igor Zapala</h1>
          <p><strong>I'm a fullstack developer, based in Tokyo since 2018.</strong></h2>
          <p>Ruby || Rails || JavaScript || HTML || CSS/SCSS</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
