<div class="projects my-5">
  <div class="row col-12">
    <div class="col-6">
      <%= image_tag "Plans-Tonight-Show-1.png", alt: "Plans tonight logo" %>
    </div>
    <div class="col-6">
      <div class="about-project">
        <h1>Plans Tonight</h1>
        <h5>Role: Lead Developer</h5>
        <p> Plans Tonight is the final project for Le Wagon Tokyo's 9-week intensive coding bootcamp.
          <br>
          This app is designed to reduce the headache of chosing a place to go out with friends. A user can initialize a plan by choosing a date and time, invite friends to vote for the mood, and alcohol type they prefer.
          <br>
          Based on these choices, the app will choose a place to go out. </p>
      </div>
    </col-12>
  </div>
</div>
</div>
