<div class="about">
  <div class="row my-5">
    <div class="col-12 col-md-6">
      <div class="container">
        <div class="about-me">
          <h2>YouTube</h2>
          <br>
          <br>
          <p>One of my passions are old video games, the other one is videography. Additionally, since I moved to Japan, I haven't had many opportunities to speak German in my daily life. That's when I had the idea to combine all three interests into a single creative outlet: a YouTube channel.</p>
          <p>I use the channel as a way to dig deeper into the topic of video games, researching their history and trying to understand what makes my favorite entertainment medium so special. I work on it whenever I have some free time and also see it as a kind of diary.</p>
          <br>
          <br>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <iframe width="100%" height="100%" src="https://www.youtube.com/embed/2wwgvZPwR9w?si=J6g5DNFOlFhlEQ-v" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="p-3" border-radius="25px"></iframe>
    </div>
  </div>
</div>
