.headder {
  background-color: $black;
  height: 40vh;
  font-family: "Reddit Sans Condensed", sans-serif;
  color: $white-smoke;


  img {
    height: 200px;
    margin: 32px;
    margin-left: 88px;
    border-radius: 30px;
    object-fit: cover;
    box-shadow: 5px 5px 0 $light-blue, -5px -5px 0 $red;
  }
}

.headder-description {
margin: 32px;
}
