.projects {
  background-color: #F1EDEE;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;


    img {
      margin: 8px;
      margin-right: 0;
      margin-left: 12px;
      width: 100%;
      object-fit: cover;
      border-radius: 16px;
      box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.1);
    }

    h1 {
      padding: 16px;
      // font-family: "Bebas Neue", sans-serif;
      // font-weight: 400;
      // font-style: normal;
        font-family: "Anton", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    p {
      margin-top: 32px;
      color: $gray;
    }
}

.about-project {
  font-family: "Reddit Sans Condensed", sans-serif;
  color: $black;
  height: 75%;
  margin-left: 16px;
}

.link-button {
  text-decoration: none;
    padding: 8px;
    background-color: $black;
    border-radius: 4px;
    color: $white-smoke;
    position: relative;
    margin-bottom: 8px;
    margin-left: 16px;
    width: 100px;
    align-items: center;
    transition-duration: 0.3s;
    border: solid 1px $black;

    span {
      margin-left: 4px;
    }

    &:hover {
      background-color: $white;
      color: $black;
      border: solid 1px $black;
    }
}

.buttons-align {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 34px;
  margin-bottom: 16px;
}

.buttons-align-2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 34px;
}
