// Define variables for your color scheme

// For example:
$red: #FF595E;
$blue: #30C5FF;
$light-blue: #A0DDE6;
$yellow: #FFCA3A;
$neon-yellow: #FAFF7F;
$orange: #E67E22;
$green: #1EDD88;
$lime: #9FCC2E;
$dark-gray: #2A2D34;
$gray: #868686;
$light-gray: #C8C6D7;
$blue-gray: #6F8695;
$mid-gray: #364652;
$pink: #DDCAD9;
$white: #FBFBFF;
$white-smoke: #F1EDEE;
$charcoal: #3D5467;
